body {
    margin: auto;
}

.container-1 {
    background-color: #f9cb9c;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px 50px 100px;
}

.logo {
    font-size: 24px;
    color: black;
}

.links {
    display: flex;
    gap: 20px;
    font-size: 18px;
    color: black;
}

.hero {
    display: flex;
    justify-content: space-between;
    padding: 20px 100px 100px 100px;
    gap: 40px;
}

.hero-main {
    font-size: 48px;
    font-weight: 800;
    color: black;
}

.hero-secondary {
    font-size: 18px;
    color: black;
}

.button1 {
    background-color: #3882F6;
    color: black;
    border-radius: 8px;
    padding: 10px 40px;
    border: none;
}

.img-main {
    height: 200px;
    width: 600px;
    background-color: darkgray;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container-2 {
    padding: 40px;
}

.title {
    text-align: center;
    font-size: 36px;
    font-weight: 800;
    color: black;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 200px;
    gap: 40px;
}

.img-secondary {
    height: 150px;
    width: 150px;
    border-style: solid;
    border-color: #3882F6;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-3 {
    background-color: #f9e0c1;
    padding: 100px;
}

.quote {
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
}

.caption {
    font-size: 36px;
    text-align: end;
}

.container-4 {
    background-color: #f9cb9c;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 100px 200px;
    padding: 20px 0px;
    border-radius: 8px;
    color: black;
}

.button2 {
    background-color: #3882F6;
    color: black;
    padding: 10px 40px;
    border-radius: 8px;
    border-style: solid;
    border-color: white;
}

.container-5 {
    background-color: #f9e0c1;
    color: black;
    text-align: center;
    padding: 40px;
}
