.container {
    background-color: #1F2937;
    padding: 20px;
}

.top {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.links {
    display: flex;
    gap: 20px;
    font-size: 18px;
    color: #E5E7EB;
}

.bottom {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.hero {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.text {
    font-size: 18px;
    color: #E5E7EB;
}

.info {
    background-color: white;
}

.quote {
    background-color: #E5E7EB;
}

.footer {
    background-color: #1F2937;
    color: white;
}

.button {
    background-color: #3882F6;
    color: white;
    border-radius: 4px;
}

.alt-text {
    height: 100px;
    width: 400px;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;

}